<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212760180785-fojiqejfimr60s08opcersam5qjda0a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212760180785-fojiqejfimr60s08opcersam5qjda0a7</string>
	<key>API_KEY</key>
	<string>AIzaSyAR6jiRtg4C6x9Myt85KeUX-hbVyO0xWhA</string>
	<key>GCM_SENDER_ID</key>
	<string>212760180785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fftrivia</string>
	<key>PROJECT_ID</key>
	<string>minutemathfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>minutemathfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212760180785:ios:e98280715d28ed9bc4bd10</string>
	<key>DATABASE_URL</key>
	<string>https://minutemathfirebase-default-rtdb.firebaseio.com</string>
</dict>
</plist>